<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
	    crossorigin="anonymous">
								
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<title>Créer une page de questionnaire</title>


</head>
<body>

	
	<div class="bg-dark">
        	<div class="container">
        		<div class="row">
        			<nav class="col navbar navbar-expand-lg navbar-dark bg-dark">
						<a class="navbar-brand" href="#">
							<img src="/ressource/logo.png" width="45" height="45" alt="logo"/>
							Online Survey
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            				<span class="navbar-toggler-icon"></span>
						</button>
						<div id="navbarContent" class="collapse navbar-collapse">
							<ul class="navbar-nav ">
			      				<li class="nav-item active">
			      					<a class="nav-link" href="#">Questionnaires</a>
			      				</li>
			     			    <li class="nav-item">
			     			    	<a class="nav-link" href="#">Sécurité</a>
			     			    </li>
    			 			</ul>
    			 		</div>
					</nav>
				</div>
			</div>
		</div>


	<div class="container ">

		<div class="row my-3">
			<div class="col">
				<h2><font face="Times New Roman" color="#443c99">Ajout d'une nouvelle page du questionnaire :</font></h2>
			</div>
		</div>
		
		<form method="post"
				th:action="@{/savePageQuestionnaire}" th:object="${questionnaire}">
		<div class="form-group">
			
			<label for="PublicAvailability"><b>Catégorie : </b></label> <span th:if="${questionnaire.id_categorie == 1}"> Education </span>
																 <span th:if="${questionnaire.id_categorie == 2}"> Etude de marché </span>
																 <span th:if="${questionnaire.id_categorie == 3}"> Evènements </span><br/>
			<label for="PublicAvailability"><b>Nom : </b></label> <span th:text="${questionnaire.nom}"> </span></div>
		</form>
			
			<div>
			<form method="post"
				th:action="@{/savePageQuestionnaireUser}" th:object="${pageQuestionnaire}">
				
				<div class="form-group">
					<label for="surveyPageTitle">Titre : </label> 
					<input
						type="text" th:field="*{titre}" class="form-control" id="surveyPageTitle"
						aria-describedby="surveyPageTitleHelp" placeholder="Saisir le titre"> <small
						id="surveyPageTitleHelp" class="form-text text-muted">Merci d'écrire le titre de la page de votre questionnaire.</small>
				</div>
				
				<div class="form-group">
					<input
						type="hidden" th:field="*{id_questionnaire_definition}" class="form-control" id="QuestionText" 
						th:value="${idQuestionnaire}" placeholder="Saisir le nom"> 
				</div>
				
				<div class="form-group">
					<label for="surveyPageInstructions">Instructions : </label> 
					<input
						type="text" th:field="*{instructions}" class="form-control" id="surveyPageInstructions"
						aria-describedby="surveyPageInstructionsHelp" placeholder="Saisir les instructions"> <small
						id="surveyPageInstructionsHelp" class="form-text text-muted">Merci d'écrire les instructions de la page de votre questionnaire.</small>
				</div>
				
				<button type="submit" class="btn btn-primary">Créer</button>
			</form>
		
		<br /> 
		
	</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>