<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet"
	    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
	    crossorigin="anonymous">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	<title>Créer un questionnaire</title>

	</head>
	<body>

	<div class="bg-dark">
        	<div class="container">
        		<div class="row">
        			<nav class="col navbar navbar-expand-lg navbar-dark bg-dark">
						<a class="navbar-brand" href="#">
							<img src="ressource/logo.png" width="45" height="45" alt="logo"/>
							Online Survey
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            				<span class="navbar-toggler-icon"></span>
						</button>
						<div id="navbarContent" class="collapse navbar-collapse">
							<ul class="navbar-nav ">
			      				<li class="nav-item active">
			      					<a class="nav-link" href="@{/}">Questionnaires</a>
			      				</li>
			     			    <li class="nav-item">
			     			    	<a class="nav-link" href="@{/securite}">Sécurité</a>
			     			    </li>
    			 			</ul>
    			 		</div>
					</nav>
				</div>
			</div>
		</div>


	<div class="container">
		<div class="row my-3">
			<div class="col">
				<h2><font face="Times New Roman" color="#443c99">Ajout d'un nouvel utilisateur</font></h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
			<form method="post"
				th:action="@{/saveUtilisateur}" th:object="${utilisateur}">
				
				<div class="form-group">
					<label for="surveyNameInput">Prénom : </label> 
					<input
						type="text" th:field="*{prenom}" class="form-control" id="surveyNameInput"
						aria-describedby="surveyNameHelp" placeholder="Saisir le prénom"> <small
						id="surveyNameHelp" class="form-text text-muted">Merci d'écrire le prénom de l'utilisateur.</small>
				</div>
				
				<div class="form-group">
					<label for="surveyNameInput">Nom : </label> 
					<input
						type="text" th:field="*{nom}" class="form-control" id="surveyNameInput"
						aria-describedby="surveyNameHelp" placeholder="Saisir le nom"> <small
						id="surveyNameHelp" class="form-text text-muted">Merci d'écrire le nom de l'utilisateur.</small>
				</div>
				
				<div class="form-group">
					<label for="surveyNameInput">Email : </label> 
					<input
						type="text" th:field="*{email}" class="form-control" id="surveyNameInput"
						aria-describedby="surveyNameHelp" placeholder="Saisir l'email"> <small
						id="surveyNameHelp" class="form-text text-muted">Merci d'écrire l'émail de l'utilisateur.</small>
				</div>
				
				<div class="form-group">
					<label for="surveyNameInput">Mot de passe : </label> 
					<input
						type="password" th:field="*{password}" class="form-control" id="surveyNameInput"
						aria-describedby="surveyNameHelp" placeholder="Saisir le mot de passe"> <small
						id="surveyNameHelp" class="form-text text-muted">Merci d'écrire le mot de passe de l'utilisateur.</small>
				</div>
				
				<div class="form-group">
					<label for="surveyNameInput">Date de naissance : </label> 
					<input
						type="date" th:field="*{date_naissance}" class="form-control" id="surveyNameInput"
						aria-describedby="surveyNameHelp" placeholder="Saisir le mot de passe"> <small
						id="surveyNameHelp" class="form-text text-muted">Merci d'écrire la date de naissance de l'utilisateur.</small>
				</div>
				
				<button type="submit" class="btn btn-primary">Créer</button>
			</form>
		</div>
		
		</div>
		<br /> 
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>